.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 20;
}

.modal-main {
  display: flex;
  flex-direction: column;
  position: fixed;
  background: white;
  max-width: 600px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 0.5px 0.5px 0.5px #e0e0e0;
  padding: 8px;
}

@media (max-width: 400px) {
  .modal-main {
    max-width: 200px;
  }

  .footer-buttons {
    flex-direction: column;
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.modal-image {
  border-radius: 8px;
}

.download-container {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 4px;

  a {
    text-decoration: none;
    color: black;
  }
}
