.post-card-container {
  padding: 16px;
  border: 1px solid gray;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.post-card-header {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.post-card-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.post-card-author {
  font-weight: bold;
}

.post-card-date {
  font-weight: bolder;
}

.thumbnail {
  border-radius: 8px;
}
