.label-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  button {
    margin: auto;
  }
}

.post-list {
  min-width: 400px;
  width: 30%;
  gap: 8px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  min-height: 100vh;
}

@media (max-width: 800px) {
  .post-list {
    flex-direction: row;
    height: 340px;
    min-height: auto;
    width: 100%;
    overflow-x: scroll;
    border-right: 0px;
    border-bottom: 1px solid black;
  }

  .footer-buttons {
    flex-direction: column;
  }
}

.label-result {
  text-align: center;
}

.footer-buttons {
  display: flex;
  justify-content: space-around;
  padding: 8px;
}
