.label-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  button {
    margin: auto;
  }
}

.post-list {
  max-width: 500px;
  width: 100%;
  gap: 8px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  min-height: 100vh;
}

.label-result {
  text-align: center;
}

.footer-buttons {
  display: flex;
  justify-content: space-around;
  padding: 8px;
}
