.label-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  button {
    margin: auto;
  }
}

.post-list {
  min-width: 400px;
  width: 30%;
  gap: 8px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  min-height: 100vh;
}

@media (max-width: 800px) {
  .post-list {
    display: none;
  }
}

.label-result {
  text-align: center;
}

.footer-buttons {
  display: flex;
  justify-content: space-around;
  padding: 8px;
}
